body {
  background: #343a40;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-26 {
  font-size: 26px !important;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.font-size-32 {
  font-size: 32px !important;
}

.font-size-36 {
  font-size: 36px !important;
}

.editor {
  height: 100vh;
}

.nav-bar {
  height: 40px;
  background: #555f69;
  box-sizing: content-box !important;
}

.nav-bar .nav-item.active {
  background: #343a40;
}

.side-panel {
  width: 280px !important;
  background: #3e454d;
  height: 100%;
  box-sizing: content-box !important;
}

.text {
  background: transparent;
  border: none;
  outline: none;
  height: calc(100% -  40px);
}

#main-ul {
  margin-left: 2px;
}