.side-panel {
    width: 280px !important;
    background: setColor(bg-dark-lighten);
    height: 100vh;
    overflow-y: auto;
    box-sizing: content-box !important;
    position: relative;

    &::-webkit-scrollbar {
        background: none;
        width: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: setColor(bg-dark-lighten-1);
    }

    .nav-link {
        cursor: pointer;
    }
}